.button{
    background-color: mediumturquoise;
    border: none;
    color: white;
    padding: 50px 175px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;}

h1{text-align: center;
    background-color: mediumturquoise;
    color: white;
    width: 1900px;
    height:125px;
    font-size:120px;}

video{width: 1710px;   
    height: 360px;}

ul{border-right: 10px mediumturquoise ridge; border-left: 10px mediumturquoise ridge; padding: 50px; margin: 15px}

.center{margin: auto;
    
    background-color: mediumturquoise;
    padding: 1%;
    font-size: 60px; color:white; height: 120px;}

.center2{margin: auto;
    
    background-image: url("2.jpg");
    padding: 5%;
    font-size: 50px; color:white; height: 120px;} 
    
.center3{margin: auto;
    
    background-image: url("3.jpg");
    padding: 5%;
    font-size: 50px; color:white; height: 120px;}
    
#flower{width: 1380px;   
    height: 360px;}


#tlkio {
    width: 1300px;
    height: 300px;
    position: fixed;
    background-color: white;
    bottom: 0;
    right: 0;
}



 a:link { color: rgb(0, 0, 0); text-decoration: none;}
 a:visited { color: rgb(0, 0, 0); text-decoration: none;}
 a:hover { color: rgb(0, 0, 0); text-decoration: underline;}
